@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 96%;
    --foreground: 220 9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 10%;
    --primary: 259 26% 76%;
    --primary-foreground: 259 26% 10%;
    --secondary: 220 17% 91%;
    --secondary-foreground: 220 9% 10%;
    --muted: 220 17% 91%;
    --muted-foreground: 220 9% 40%;
    --accent: 221 44% 41%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 17% 86%;
    --input: 0 0% 100%;
    --ring: 259 26% 76%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 220 9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 259 26% 76%;
    --sidebar-primary-foreground: 259 26% 10%;
    --sidebar-accent: 220 17% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 17% 15%;
    --sidebar-ring: 259 26% 76%;
  }
  .dark {
    --background: 220 9% 10%;
    --foreground: 0 0% 98%;
    --card: 220 9% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 220 9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 26% 76%;
    --primary-foreground: 259 26% 10%;
    --secondary: 220 17% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 17% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 221 44% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 17% 15%;
    --input: 220 17% 15%;
    --ring: 259 26% 76%;
    --sidebar-background: 220 9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 259 26% 76%;
    --sidebar-primary-foreground: 259 26% 10%;
    --sidebar-accent: 220 17% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 17% 15%;
    --sidebar-ring: 259 26% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}
