@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 262 84% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 262 84% 60%;
    --radius: 0.75rem;

    --sidebar-background: 220 9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 259 26% 76%;
    --sidebar-primary-foreground: 259 26% 10%;
    --sidebar-accent: 220 17% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 17% 15%;
    --sidebar-ring: 259 26% 76%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 262 84% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 262 84% 60%;

    --sidebar-background: 220 9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 259 26% 76%;
    --sidebar-primary-foreground: 259 26% 10%;
    --sidebar-accent: 220 17% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 17% 15%;
    --sidebar-ring: 259 26% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
  html {
    scroll-behavior: smooth;
  }
}
